<h1>Bookmarks page:</h1>
<%if @bookmarks %>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li class ="bookmark" id="bookmark-<%= bookmark.id%>">
        <a href = "<%= bookmark.url %>" target="_blank"> 
          <%= bookmark.title%>
        </a>
        <div>
          <form style="display: inline;" action="/bookmarks/<%= bookmark.id %>" method="post">
            <input type='hidden' name='_method' value="DELETE"/>
            <input type="submit" value="Delete"/>
          </form>
          <form style="display: inline;" action="/bookmarks/<%= bookmark.id %>/edit" method="get">
            <input type='submit' value='Edit'>
          </form>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<form action="/newbookmark_page" method="get">
  <input type="submit" value="Add New Bookmark">
</form>